.container{
    background-color: black;
    width: 100%;
    height: 100%;
}
p {
  text-align: center;
  color: white;
  font-family: fantasy;
  font: 160% sans-serif;
  
}

  .login{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\login.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;     
  }
  .formulario1{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario1.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;      
  }
  .formulario2{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario2.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;      
  }
  .formulario3{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario3.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;      
  }
  .formulario4{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario4.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;      
  }
  .formulario5{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario5.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;     
  }
  .formulario6{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario6.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;     
  }
  .formulario7{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario7.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;     
  }
  .formulario8{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\formulario8.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;     
  }
  .contraseña{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\contraseña.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;     
  }
  .datopaciente{  
    height: 520px;
    width:100%;     
    background: url('src\imagenes\datopaciente.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat:no-repeat;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;    
  }


.carousel-control-next-icon:after
{
  /* content: '>'; */
  font-size: 55px;
  color: transparent;
}

.carousel-control-prev-icon:after {
  /* content: '<'; */
  font-size: 55px;
  color:transparent;
}

/* Tamaño del scroll */
.container::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .container::-webkit-scrollbar-thumb {
    background: rgb(104, 71, 250);
    border-radius: 4px;
  }
  .container::-webkit-scrollbar-thumb:active {
    background-color: #1fb7f3;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background: #1100fd;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .container::-webkit-scrollbar-track {
    background: #a7a0ff;
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-track:hover, 
  .container::-webkit-scrollbar-track:active {
    background: #787bff;
  }