<div class="intro">


  <form focusInvalidInput [formGroup]="login_form">

    <div id="formstyle">
      <div>


        <div>
          <div class="view" id="imagenpuma">
            <div *ngIf="loading==true" class="uploader-status">
              <mat-spinner [diameter]="100"></mat-spinner>
            </div>
          </div>
        </div>

        <span class="login100-form-title p-b-49">
          <strong>Clínica UNAH-TEC</strong>
        </span>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput #inputCuenta (keydown)="onKeydown1($event)" placeholder="Ingrese su cuenta"
              formControlName="cuenta">
            <mat-label>
              <mat-icon>person</mat-icon>&nbsp; <b>Cuenta</b>
            </mat-label>
            <mat-error *ngIf="cuenta.hasError('required')">ingrese la cuenta</mat-error>
            <mat-error *ngIf="cuenta.hasError('pattern')">ingrese un numero de cuenta valido</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <input matInput #clave (keydown)="onKeydown($event)" placeholder="Ingrese su contraseña"
              [type]="hide ? 'password' : 'text'" formControlName="clave">
            <mat-label>
              <mat-icon>vpn_key</mat-icon> &nbsp; <b>Contraseña</b>
            </mat-label>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="ControlClave.hasError('required') ">ingrese la contraseña</mat-error>
          </mat-form-field>
        </div>

      </div>

      <div><button ng-enter mat-raised-button class="boton" (click)="comprobarDatos()">INGRESAR</button></div>


    <div style="width: 340px;height: 70px;">
      <div style="width: 340px;bottom: 0;position: absolute;text-align: center;">
          <button mat-icon-buttom (click)="abrirDialogRecu()" style="background-color: transparent;color: rgb(27, 21, 21);outline:none;border: inherit;">
          <u style="color: #1928d4;">¿Haz olvidado tu contraseña?</u>
          </button>
      </div>   
    </div>


    </div>

    

  </form>


 <div class="row" style="bottom: 0px;">
<div id="ayudadiv" class="divayudauno" style="position: fixed; bottom: 0px;right: -310px;">
  
        <div class="col" style="padding: 0px;margin-top:5px ;">
          <button mat-icon-button (click)="startanimation();" style="position: fixed;">
            <mat-icon style="color: white;">help</mat-icon>
          </button>
        </div>

        <div class="col" style="padding: 0px;margin-left: 50px;margin-top: 13px;" >
          <p style="color: antiquewhite;">¿Ayuda? <button mat-icon-buttom (click)="ayuda()" 
            style="background-color: transparent;color: white;outline:none;border: inherit;"><u>Haz click para más información</u> </button></p>
        </div>
</div>
</div>
 

</div>