<h2 mat-dialog-title disableClose>Verificar</h2>
<mat-dialog-content class="mat-typography">
    <p>Para mayor seguridad debemos verificar que es usted el que esta realizando está acción.</p>
    <p>Escriba su contraseña y verifique su identidad.</p>

    <form [formGroup]="formulario_verificar_clave">

        <mat-form-field class="example-full-width" style="margin-top: 5px;">

            <input matInput (keydown)="onKeydown($event)" placeholder="Ingresa su contraseña"
                [type]="esconderClave ? 'text' : 'password'" formControlName="clave">
            <button mat-icon-button matSuffix (click)=" esconderClave = !esconderClave" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="esconderClave">
                <mat-icon>{{esconderClave ? 'visibility' : 'visibility_off'}}</mat-icon>
            </button>
            <mat-error *ngIf="clave.hasError('required') ">Ingrese la contraseña</mat-error>

        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align='end'>
    
    <button mat-button (click)="salir()" class="botonperron" style="bottom: 0px;right: 0px;outline:none;display:block;">
        cancelar
    </button>
    <button mat-button (click)="guardar()" class="botonperron"
        cdkFocusInitial
        style="bottom: 0px;right: 0px;outline:none;display:block;">
        verificar
    </button>
</mat-dialog-actions>