
 <!-- <img [src]="msg.user?.photoURL">   esto estaba comentado -->
       <div class="intro"> 

    <div class="mesgs" style="background-color: #4f5387;">
        <div class="msg_history">
          <li class="message" *ngFor="let msg of chatList;">
            <div
            *ngIf="
            msg.messageUser !== 'Alguien';
              then incoming_msg;
              else outgoing_msg
            "
          ></div>
            <ng-template  #incoming_msg>
              <div class="incoming_msg" >
                <div style="margin-left: 30px;" >
                    {{msg.messageUser}}
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{ msg.messageText  }}</p>
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #outgoing_msg>
              <div class="outgoing_msg">
                <div class="sent_msg">
                  <p>{{ msg.messageText  }}</p>
                </div>
              </div>
            </ng-template>
          </li>
        </div>
    </div>
  
      







      <div style="position: absolute; bottom: 0px;width: 100%;">
          <div  >
      <div class="form" [formGroup]="mensaje_form" style="position:inherit;height: 80px;background:#4f5387 ;">
        <input  formControlName="mensaje" (keydown.enter)="enviarMensaje()" style="width: 100%;position:inherit;" placeholder="   Escribe un mensaje">
        <button mat-icon-button  (click)="enviarMensaje()" style="color: #4f5387;margin-left: -50px;"><mat-icon style="font-size: 40px;">send</mat-icon></button>
    </div>
    </div>
    
    </div>

  </div> 
  
    
    
    
    <!-- <div class="top">
      <p>
          https://firestore-megachat.firebaseapp.com/chats/{{ chat.id }}
      </p>
    </div> -->