<div class="container">
  <form id="form" [formGroup]="loginadmin_form">
    <div>

      <mat-card style="margin-top: 15px;" [class.mat-elevation-z5]="true">
        <div class="titulo">
          <h2>Registro Administrador</h2>
        </div>
  
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> <b>Usuario</b> </mat-label>
          <input matInput placeholder="Ingrese un nuevo Administrador" formControlName="usuario"  cdkFocusInitial   > 
          <mat-hint align="end" >{{usuario.value.length}} / 12</mat-hint>
          <mat-error  *ngIf="usuario.hasError('required')"> <strong>Ingrese el usuario</strong></mat-error>
          <mat-error *ngIf="usuario.hasError('minlength')"> <strong>Usuario muy corto, mínimo 4 caracteres</strong></mat-error>
          <mat-error *ngIf="usuario.hasError('maxlength')"> <strong>Usuario muy largo, máximo 12 caracteres</strong></mat-error>  
          <mat-error *ngIf="usuario.hasError('pattern')"> <strong>No se aceptan caracteres especiales</strong></mat-error>     
          <mat-error *ngIf="usuario.hasError('usuarioAdminUnico')">El usuario pertenece a otra persona</mat-error>
        </mat-form-field>
  
        <div *ngIf="!editando">

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> <b>Contraseña</b> </mat-label>
            <input matInput placeholder="Nueva contraseña (entre 6-30 caracteres)" (keydown)="onKeydown($event)"  
            formControlName="contraseniaNueva" ng-trim = "false" [type]="hide1 ? 'text' : 'password'">
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility' : 'visibility_off '}}</mat-icon>
              </button>
            <mat-error *ngIf="contraseniaNueva.hasError('required')"><strong>Ingrese la contraseña</strong></mat-error>
            <mat-error *ngIf="contraseniaNueva.hasError('minlength') "><strong>Contraseña muy corta</strong> </mat-error>
            <mat-error *ngIf="contraseniaNueva.hasError('maxlength') "><strong>Contraseña muy extensa</strong></mat-error>
             <mat-error *ngIf="contraseniaNueva.hasError('pattern') "><strong>No se permiten espacios en blanco</strong></mat-error>               
          </mat-form-field>

  
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label> <b>Confirme la contraseña</b> </mat-label>
            <input matInput placeholder="Confirme la nueva contraseña" formControlName="confirmarContrasenia"
            (keydown)="onKeydown($event)"  [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="confirmarContrasenia.hasError('required')"><strong>Confirme la contraseña</strong></mat-error>
            <mat-error *ngIf="confirmarContrasenia.hasError('minlength') "><strong>Contraseña muy corta</strong> </mat-error>
            <mat-error *ngIf="confirmarContrasenia.hasError('maxlength') "><strong>Contraseña muy extensa</strong></mat-error>
            <mat-error *ngIf="confirmarContrasenia.hasError('pattern') "> <strong>No se permiten espacios en blanco</strong> </mat-error>               
          </mat-form-field>
  
        </div>
  
  
        <mat-form-field class="example-full-width" appearance="outline">
         <mat-label> <b>Nombre</b> </mat-label>
         <input matInput placeholder="Ingrese el nombre completo" formControlName="nombre" >
         <mat-error *ngIf="nombre.hasError('required')"><strong>Escriba el nombre completo</strong></mat-error>
        <mat-error *ngIf="nombre.hasError('minlength') "><strong>Escriba el nombre completo</strong></mat-error>
        <mat-error *ngIf="nombre.hasError('maxlength')"><strong>Nombre muy extenso</strong></mat-error>
        <mat-error *ngIf="nombre.hasError('pattern')"><strong>Sólo se permiten letras</strong></mat-error>
        <mat-error *ngIf="nombre.hasError('whitespace')"><strong>No se permiten espacios en blanco</strong></mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> <b>Número de identidad</b> </mat-label>
          <input matInput placeholder="Ingrese el número de identidad" formControlName="identidad" >
          <mat-hint align="end">{{identidad.value.length}} / 13</mat-hint>
          <mat-error *ngIf="identidad.hasError('required')"><strong>Escriba correctamente el número de identidad</strong></mat-error>
          <mat-error *ngIf="identidad.hasError('minlength') "><strong>Escriba correctamente el número de identidad</strong></mat-error>
          <mat-error *ngIf="identidad.hasError('maxlength')"><strong>Escriba correctamente el número de identidad</strong></mat-error>
          <mat-error *ngIf="identidad.hasError('pattern')"><strong>Sólo se permiten números</strong></mat-error> 
          <mat-error *ngIf="identidad.hasError('identidadAdminUnica')"><strong>Esta Identidad ya esta en uso</strong></mat-error> 

        </mat-form-field>



  
        <div *ngIf="editando">
  
          <a mat-button (click)="cambiarContra()"><strong>Cambiar contraseña</strong></a>
  
        </div>
  
  
      </mat-card>

    </div>
    
    
    <!-- <div align="end" class="row float-right" >

      <button mat-raised-button class="btn btn-outline-primary botonperron" 
        (click)="comprobarDatos()">
        Guardar
      </button>
      <button mat-raised-button class="btn btn-danger "
        [routerLink]="['/principal/veradministradores']">
        Cancelar
      </button>
    </div> -->




  
    <div>

      <button class="btn btn-outline-primary float-right botonperron" style="margin-top: 10px; margin-bottom: 10px;"
        (click)="comprobarDatos()">
        Guardar
      </button>
      <button class="btn btn-danger float-right" style="margin-top: 10px; margin-bottom: 10px;"
        [routerLink]="['/clínicaunahtec/veradministradores']">
        Cancelar
      </button>
    </div>

  </form>
</div>