html,
body,
header,
side-nav{
  height: 100%;
  width:100%;
  position: absolute;
  margin:0px;
}

.example-full-width{
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* text-align: left; */

}

.container{

  text-align: center;
  width: 90%;
  height: auto;
  padding: 0%;

}

#label{
  font-size: 10dp;
  color: rgb(35, 35, 36);
}
#form{   

  width: 100%;
  height: auto;
}

.errorverificacion{
  color:rgb(122, 22, 22);
}



.boton{
  height:30px;
  background-color:rgb(104, 71, 250);  
  color: #fff;  
  line-height:10px;
  text-transform: uppercase;
  margin-right: 10%;   
  }

  input[type=number]::-webkit-inner-spin-button{ 
    -webkit-appearance: none; 
    margin: 0; 
  }

  button{
    bottom: 10px;
    right: 40px;
  }

  mat-card{

    text-align: left;
    height: auto;

  }
