<mat-tab-group dynamicHeight animationDuration="200ms" mat-align-tabs="center" color="accent"
      backgroundColor="primary"  
style="width: 100%; height: 100%;">


<mat-tab label="Peso" >    

    <div class="col" style="margin-bottom:18px;text-align: center;">
        <div class="row">

                <div class="col" style="text-align: center;margin-bottom: 5px;">
                <label style="color: white;"><b>Comparar pesos</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field>            
                <mat-label style="color: white;"><b>Fechas</b></mat-label>
                <mat-select multiple (selectionChange)="cambioPeso($event.value)">
                    <mat-option *ngFor="let peso of selectPesos" [value]="peso">{{peso}}</mat-option>
                </mat-select>
                </mat-form-field>
                </div>  
        </div>

        <div class="row" >
                <ngx-charts-bar-vertical style="fill: white;"   [scheme]="colorScheme" [results]="datosGraficaPeso"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelGP" [yAxisLabel]="yAxisLabelGP"  legendTitle="Fechas">
                </ngx-charts-bar-vertical>
        </div>
    </div>

</mat-tab>


<mat-tab label="Ritmo cardíaco" >    

 
    <div class="col" style="margin-bottom:18px;text-align: center;">
        <div class="row">
            <div class="col" style="text-align: center;margin-bottom: 5px;">
                <label style="color: white;"><b>Comparar ritmo cardíaco</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field>
                <mat-label style="color: white;"><b>Fechas</b></mat-label>
                <mat-select multiple (selectionChange)="cambioRitmo($event.value)">
                    <mat-option *ngFor="let pulso of selectPulsos" [value]="pulso">{{pulso}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>               
        </div>

        <div class="row" >
            <ngx-charts-bar-vertical style="fill: white;"   [scheme]="colorScheme" [results]="datosGraficaRitmo"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelGR" [yAxisLabel]="yAxisLabelGR"  legendTitle="Fechas">
            </ngx-charts-bar-vertical>
        </div>
    </div>

</mat-tab>



<mat-tab label="Temperatura" >    

  
    <div class="col" style="margin-bottom:18px;text-align: center;">
        <div class="row">
            <div class="col" style="text-align: center;margin-bottom: 5px;">
                <label style="color: white;"><b>Comparar temperatura</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field>
                <mat-label style="color: white;"><b>Fechas</b></mat-label>
                <mat-select multiple (selectionChange)="cambioTemperatura($event.value)">
                    <mat-option *ngFor="let temperatura of selectTemperaturas" [value]="temperatura">
                        {{temperatura}}</mat-option>
                </mat-select>
            </mat-form-field>
            </div>               
        </div>

        <div class="row" >
            <ngx-charts-bar-vertical style="fill: white;"   [scheme]="colorScheme" [results]="datosGraficaTemperatura"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelGT" [yAxisLabel]="yAxisLabelGT" legendTitle="Fechas">
            </ngx-charts-bar-vertical>
        </div>
    </div>

</mat-tab>




<mat-tab label="Altura" >    

    <div class="col" style="margin-bottom:18px;text-align: center;">
        <div class="row">
            <div class="col" style="text-align: center;margin-bottom: 5px;">
                <label style="color: white;"><b>Comparar altura</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field>
                <mat-label style="color: white;"><b>Fechas</b></mat-label>
                <mat-select multiple (selectionChange)="cambioAltura($event.value)">
                    <mat-option *ngFor="let altura of selectAlturas" [value]="altura">{{altura}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>               
        </div>

        <div class="row" >
            <ngx-charts-bar-vertical style="fill: white;"   [scheme]="colorScheme" [results]="datosGraficaAltura"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelGA" [yAxisLabel]="yAxisLabelGA"  legendTitle="Fechas">
            </ngx-charts-bar-vertical>     
        </div>
    </div> 

</mat-tab>




<mat-tab label="Presión arterial" >    

    <div class="col" style="margin-bottom:18px;text-align: center;">
        <div class="row">
            <div class="col" style="text-align: center;margin-bottom: 5px;">
                <label style="color: white;"><b>Comparar presión arterial</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field>
                <mat-label style="color: white;"><b>Fechas</b></mat-label>
                <mat-select multiple (selectionChange)="cambioPresion($event.value)">
                    <mat-option *ngFor="let presion of selectPresiones" [value]="presion" >{{presion}} 
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>               
        </div>

        <div class="row" >
 <ngx-charts-bar-vertical-2d style="fill: white;"  [scheme]="colorScheme" [results]="datosGraficaPresion"
                [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabelGPr" [yAxisLabel]="yAxisLabelGPr" [legendTitle]="legendTitle" legendTitle="Fechas">
            </ngx-charts-bar-vertical-2d> 
        </div>
    </div>

</mat-tab>
</mat-tab-group>