<div class="container">
    <form id="form" [formGroup]="formInventario">
        <mat-card style="margin-top: 15px;" [class.mat-elevation-z5]="true">


            <h2>Registro Inventario</h2>


            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Unidad</b></mat-label>
                <input matInput placeholder="Ingrese la cantidad de unidades" formControlName="unidad">
                <mat-hint align="end">{{unidad.value.length}} / 6</mat-hint>
                <mat-error *ngIf="unidad.hasError('required')">campo requerido</mat-error>
                <mat-error *ngIf="unidad.hasError('pattern')">Introduzca sólo números</mat-error>
                <mat-error *ngIf="unidad.hasError('minLength') && unidad.hasError('maxLength')">
                    campo requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Ingrese el nombre del medicamento</b></mat-label>
                <input matInput placeholder="Ingrese el nombre del medicamento" formControlName="nombre">
                <mat-error *ngIf="nombre.hasError('required')">
                    <strong>campo requerido</strong>
                </mat-error>
                <mat-error *ngIf="nombre.hasError('minLength') && nombre.hasError('maxLength')">
                    <strong>nombre no válido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Descripción</b></mat-label>
                <input matInput placeholder="Ingrese una descripción" formControlName="descripcion">

                <mat-error *ngIf="descripcion.hasError('maxLength')">
                    <strong>descripción muy corta</strong>
                </mat-error>
                <mat-error *ngIf="descripcion.hasError('minLength')">
                    <strong>descripción muy extensa</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label><b>Observación</b></mat-label>
                <input matInput placeholder="Ingrese una observación" formControlName="observacion">
                <mat-error *ngIf="observacion.hasError('maxLength')">
                    <strong>observación muy corta</strong>
                </mat-error>
                <mat-error *ngIf="observacion.hasError('minLength')">
                    <strong>observación muy extensa</strong>
                </mat-error>

            </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><b>Presentación</b></mat-label>
                <mat-select formControlName="presentacion">
                    <mat-option *ngFor="let presentacion of presentaciones" [value]="presentacion.value">
                        {{presentacion.viewValue}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="presentacion.hasError('required')"> <strong>campo requerido</strong></mat-error>

            </mat-form-field>




        </mat-card>

        <div>

            <button class="btn btn-outline-primary float-right botonperron"
                style="margin-top: 10px; margin-bottom: 10px;" (click)="comprobarDatos()">
                Guardar
            </button>
            <button class="btn btn-danger float-right" style="margin-top: 10px; margin-bottom: 10px;"
                [routerLink]="['/clínicaunahtec/inventario']">
                Cancelar
            </button>

        </div>

    </form>
</div>

<!-- <button mat-raised-button [routerLink]="['/principal/inventario']"
    class="btn btn-outline-primary float-right botonperron" style="margin-top: 12%;margin-left: 25px; right: 15px">
    Cancelar
</button>
<button mat-raised-button (click)="comprobarDatos()" class="btn btn-outline-primary float-right botonperron"
    style="margin-top: 12%; margin-left: 25px; " [disabled]="disabledinventario"> Guardar
</button> -->