<div id="intro" class="view">
    <div class="full-bg-img">
          
      <div id="formstyle">
        <div>
            
            <span class="login100-form-title p-b-49">
                <strong>Verifique que es un administrador</strong>
                </span>
                <div class="view" id="imagenpuma"></div>
            <p></p>
            
            
            <form [formGroup]= "login_form">
              <div>
                  <mat-form-field class="example-full-width">
                    <input matInput  (keydown)="onKeydown($event)"
                    placeholder="Ingrese su cuenta" formControlName= "cuenta" >
                    <mat-label><mat-icon>person</mat-icon>&nbsp;    <b>Cuenta</b> </mat-label>
                    <mat-error *ngIf="cuenta.hasError('required')">ingrese la cuenta!</mat-error>
                    <mat-error *ngIf="cuenta.hasError('pattern')">ingrese un numero de cuenta valido!</mat-error>
                  </mat-form-field>
                </div>
              <div>
                <mat-form-field class="example-full-width">                
                  <input matInput  (keydown)="onKeydown($event)"
                  placeholder="Ingrese su contraseña" [type]="hide ? 'password' : 'text'"
                  formControlName="clave">
                  <mat-label><mat-icon>vpn_key</mat-icon> &nbsp;   <b>Contraseña</b> </mat-label>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                  <mat-error *ngIf="clave.hasError('required') ">ingrese la contraseña!</mat-error>
                </mat-form-field>
              </div>
            </form>
          
            </div>  
             <div><button mat-raised-button class="boton" (click)="comprobarDatos()">Ingresar</button></div>            
           
                                      
        </div>
