
table {
  width: 100%;
}

.container {
  
  height: 89%;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: absolute;
  overflow-x: hidden;    
  /* background-color: rgb(225, 236, 250); */
}

/* side nav */

.example-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background:rgb(253, 253, 253);
}

.hijo{  
  height: 90%;
  width:90%;     
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat:no-repeat;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100% 100%;        
  text-align: -webkit-center;
}

.hijo2{  
  height: 84%;
  width:100%;     
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat:no-repeat;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100% 100%;        
  text-align: -webkit-center;
}

.padre{
  display: flex;
justify-content: center;
align-items: center;
height: 100%;
}  





.example-full-width {
  width: 88%;
}

.mat-card{
  margin-top: 10px;
}


/* AGREGAR UNA FOTO */
.cambiarfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.sinImg{
  height: 140px;
  width: 115px;  
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;  
  position: static;
}

#cambiarfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarfoto:hover + #sinImg { 
  content: url('src/imagenes/agregarperfil.png');
 }



/* CAMBIAR LA FOTO */
.cambiarConfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.img{
  height: 140px;
  width: 115px;  
  background-size: cover;
  background-position: center; 
  position: static; 
}
#cambiarConfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarConfoto:hover + #ima { 
  content: url('src/imagenes/cambiarperfil.png');
 }

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

#new-color{
  background-color: #21D4FD;
  background-image: linear-gradient(90deg, #21D4FD 0%, #B721FF 100%);
}

/* Tamaño del scroll */
.container::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

 /* Estilos barra (thumb) de scroll */
.container::-webkit-scrollbar-thumb {
  background: rgb(104, 71, 250);
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #1fb7f3;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #1100fd;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container::-webkit-scrollbar-track {
  background: #a7a0ff;
  border-radius: 4px;
}

.container::-webkit-scrollbar-track:hover, 
.container::-webkit-scrollbar-track:active {
  background: #787bff;
}

/* AGREGAR UNA FOTO */
.cambiarfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.sinImg{
  height: 140px;
  width: 115px;  
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;  
  position: static;
}

#cambiarfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarfoto:hover + #sinImg { 
  content: url('src/imagenes/agregarperfil.png');
 }



/* CAMBIAR LA FOTO */
.cambiarConfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.img{
  height: 140px;
  width: 115px;  
  background-size: cover;
  background-position: center; 
  position: static; 
}
#cambiarConfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarConfoto:hover + #ima { 
  content: url('src/imagenes/cambiarperfil.png');
 }





.mat-icon-button{
  /* quitar borde feo */
  outline:none;  
  display:block;
}
