<mat-drawer-container class="example-container" [hasBackdrop]="true">

    <mat-drawer #drawer [mode]="side" position="end" style="width: 100%;background: rgb(25,40,212, 0.3);color: white;">
        <div class="padre">
            <div class="hijo2">

                <!-- llama al componente donde estan las graficas -->
                <app-estadisticas-fisicas-paciente></app-estadisticas-fisicas-paciente>

                <div style=" bottom: 10px;margin-right: 10px;">
                    <button mat-raised-button (click)="drawer.toggle()"
                        class="btn btn-outline-primary float-right botonperron">
                        Regresar
                    </button>
                </div>

            </div>
        </div>
    </mat-drawer>


    <mat-drawer-content>
        <mat-toolbar class="toolbar">
            <span>Clínica UNAH-TEC Danlí</span>

            <button mat-icon-button [matMenuTriggerFor]="menu" style=" outline:none;display:block;">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item (click)="cambiarContra()" style=" outline:none;display:block;">
                    <mat-icon>loop</mat-icon>
                    <span>Cambiar contraseña</span>
                </button>

                <button mat-menu-item (click)="drawer.toggle();" style=" outline:none;display:block;">
                    <mat-icon>bar_chart</mat-icon>
                    <span>Estadística física</span>
                </button>

                <button mat-menu-item (click)="cerrarSesion()" style=" outline:none;display:block;">
                    <mat-icon>power_settings_new</mat-icon>
                    <span>Cerrar sesión</span>
                </button>



            </mat-menu>



        </mat-toolbar>

        <div class="container">

            <form [formGroup]="formulario_datos_generales">
                <mat-card style="margin-top:0px;" [class.mat-elevation-z5]="true">

                    <div class="row">
                        <div
                        style="width: 216.5px;height: 216.5px;padding-left:50.75px;padding-right: 50.75px;padding-top: 38.25px;padding-bottom: 38.25px;margin-left: 20px;">
                        <div style="position: fixed;margin-top: 20px;margin-left: 7.5px;" *ngIf="loading1==true"
                          class="uploader-status">
                          <mat-spinner [diameter]="100"></mat-spinner>
                        </div> 
              
                        <div>
                          <button *ngIf="noImg==true" mat-icon-button style="color: aliceblue;" class="cambiarfoto" id="cambiarfoto"
                            (click)="cambiarfoto()">
                            <mat-icon>add_a_photo</mat-icon>
                          </button>
                          <img *ngIf="noImg==true" id="sinImg" class="sinImg" />
                        </div>
              
              
              
                        <div>
                          <button *ngIf="noImg == false" mat-icon-button style="color: aliceblue;" class="cambiarConfoto"
                            id="cambiarConfoto" (click)="cambiarfoto()">
                            <mat-icon>flip_camera_ios</mat-icon>
                          </button>
                          <img id="ima" *ngIf="noImg == false" #CambiarFoto class="img" src={{paciente.imagen}} />
                        </div>
                      </div>

                        <div class="col" style="padding-top: 20px;">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre" formControlName="nombre_completo"
                                    [readonly]="readonly">

                                <mat-error *ngIf="nombre_completo.hasError('required')">campo requerido!</mat-error>
                                <mat-error *ngIf="nombre_completo.hasError('pattern')">ingrese un nombre valido!
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Identidad" formControlName="numero_identidad"
                                    [readonly]="readonly">
                                <mat-error *ngIf="numero_identidad.hasError('required')">campo requerido!</mat-error>
                                <mat-error *ngIf="numero_identidad.hasError('pattern')">ingrese un numero de indentidad
                                    valido!
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field class="example-full-width" *ngIf="this.esAlumno === true ">
                                <input matInput placeholder="Número de cuenta" formControlName="numero_cuenta"
                                    [readonly]="readonly">
                                <mat-error *ngIf="numero_cuenta.hasError('required')">campo requerido!</mat-error>
                                <mat-error *ngIf="numero_cuenta.hasError('pattern')">ingrese un numero de cuenta valido!
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col" style="padding-top: 20px;">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Número de teléfono" formControlName="numero_telefono"
                                    [readonly]="readonly">
                                <mat-error *ngIf="numero_telefono.hasError('required')">campo requerido!</mat-error>
                                <mat-error *ngIf="numero_telefono.hasError('pattern')">introduzca un numero de telefono
                                    valido!
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field class="example-full-width" *ngIf="this.esAlumno === true ">
                                <input matInput placeholder="Carrera" formControlName="carrera" [readonly]="readonly">
                                <mat-error *ngIf="carrera.hasError('required')">campo requerido!</mat-error>
                                <mat-error *ngIf="carrera.hasError('pattern')">ingrese datos validos!</mat-error>

                            </mat-form-field>
                            <mat-form-field class="example-full-width" *ngIf="readonly">
                                <input matInput placeholder="Sexo" formControlName="sexo" [readonly]="readonly">
                                <!-- <button mat-button matSuffix mat-stroked-button aria-label="create">
                                        <mat-icon>create</mat-icon>
                                    </button> -->
                            </mat-form-field>
                            <mat-form-field class="example-full-width" *ngIf="!readonly">
                                <mat-label>Sexo</mat-label>
                                <mat-select formControlName="sexo">
                                    <mat-option value="Hombre">Hombre</mat-option>
                                    <mat-option value="Mujer">Mujer</mat-option>

                                </mat-select>
                                <!-- <mat-error *ngIf="sexo.hasError('required')">campo requerido!</mat-error> -->

                            </mat-form-field>
                        </div>

                    </div>


                    <div class="row">

                        <div class="col">
                            <div style="text-align: right;">
                                <button mat-raised-button class="btn btn-outline-primary float-right botonperron"
                                    style="margin-top: 10px;" (click)="editar(); actualizar()"
                                    disabled={{formulario_datos_generales.invalid}}>
                                    {{!readonly ? 'Guardar' : 'Editar'}}
                                </button>
                            </div>
                        </div>

                    </div>








                </mat-card>
            </form>

            <br />


            <mat-card style="margin-top: 15px;" [class.mat-elevation-z5]="true">

                <mat-tab-group dynamicHeight animationDuration="200ms" mat-align-tabs="center" color="accent"
                    backgroundColor="primary">
                    <mat-tab label="Citas">
                        <div class="example-large-box mat-elevation-z4">
                            <div *ngIf="siHayCitas == false" style="padding-top: 10px;">
                                <b>
                                    No tiene citas pendiente
                                </b>
                            </div>

                            <mat-list *ngIf="siHayCitas == true">
                                <!-- <div mat-subheader>Citas</div> -->
                                <mat-list-item *ngFor="let cita of citas">
                                    <mat-icon mat-list-icon>date_range</mat-icon>
                                    <div mat-line>{{cita.fecha}}</div>
                                    <div mat-line>{{cita.hora}}</div>
                                </mat-list-item>
                                <mat-divider></mat-divider>

                            </mat-list>

                        </div>
                    </mat-tab>

                    <mat-tab label="Medicamento">
                        <div class="example-large-box mat-elevation-z4">
                            <div *ngIf="siHayMedicamentos == false" 
                            style="padding-top: 10px;">
                                <B>
                                    Aún no tiene
                                    recetas
                                    médicas

                                </B>
                            </div>

                            <div *ngIf="siHayMedicamentos == true" style="padding-top: 10px;">
                                <B>

                                    {{historia_subsiguiente.medicamento}}

                                </B>
                            </div>

                        </div>
                    </mat-tab>
                    <mat-tab label="Indicaciones">
                        <div class="example-large-box mat-elevation-z4">
                            <div *ngIf="siHayIndicaciones == false" 
                            style="padding-top: 10px;">
                                <b>
                                    Aún no
                                    tiene
                                    indicaciones

                                </b>
                            </div>
                            <div *ngIf="siHayIndicaciones == true" style="padding-top: 10px;">
                                <B>
                                    {{historia_subsiguiente.indicaciones}}
                                </B>
                            </div>


                        </div>
                    </mat-tab> 
                    <mat-tab label="Observaciones">
                        <div class="example-large-box mat-elevation-z4">
                            <div *ngIf="siHayObservaciones == false" 
                            style="padding-top: 10px;">
                                <b>
                                    Aún no
                                    tiene
                                    observaciones
                                </b>
                            </div>
                            <div *ngIf="siHayObservaciones == true" style="padding-top: 10px;">
                                <b>
                                    {{historia_subsiguiente.observaciones}}
                                </b>
                            </div>

                        </div>
                    </mat-tab>
                </mat-tab-group>

            </mat-card>


        </div>

    </mat-drawer-content>
</mat-drawer-container>