/* You can add global styles to this file, and also import other style files */

/* importo esto para los estilos de los calendarios */
 

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); /* other css */
html, body { 
    margin:0px;
    height: 100%;
    position: relative;    
}

.mat-toolbar-row{
  height: 65px !important;
}

.tabla td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0;
  
}
.mat-input-element {
  color:black;
}

.botonesTabla{
  float: right;
  padding: 0;
}

/* estilos del dialogo */
.custom-dialog-container .mat-dialog-container {  
  width: 500px;
  height: 350px;   

}
.custom-dialog-container1 .mat-dialog-container {  
    width: 500px;
    height: 350px;   
  }

  .cambiarcontrasenia .mat-dialog-container {  
    width: 500px;
    height: 320px;   
  }

  .cerrarsesion .mat-dialog-container{
    width: 340px;
    height: 140px;  
  }
  .cerrarsesion2 .mat-dialog-container{
    width: 340px;
    height: 175px;  
  }
  .borrar .mat-dialog-container{
    width: 340px;
    height: 190px;  
  }

  /* PARA QUE EL TIMEPIKERNO SE VEA DEBAJO DEL DIALOGO Y SE VUELVA AZUL PERRON */
  .timepicker-overlay {
    z-index: 10000000 !important;
}
.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.clock-face__clock-hand {
  background-color: #1928d4  !important;
  }

  .clock-face__clock-hand:after {
    background-color: #1928d4   !important;
    }
  
  .clock-face__clock-hand_minute:before {
  border: 4px solid #1928d4  !important;
  }

  .timepicker__header {
    background-color: #1928d4   !important;
}
.timepicker-button {
    color: #1928d4   !important;
}

/* ---------------------------------- */




  .tomarfoto .mat-dialog-container{  
    padding-top: 20px;
    background:#1928d4 81% ;  
  }



/* para que no salga el doble scroll en principal */
  .cdk-global-scrollblock{
    position: fixed;
    width: 100%;
    overflow-y: hidden;
  }

/* estilo de los auocompletado */
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/* PARA CAMBIAR EL COLOR AL MAT-TAB */
.mat-tab-group.mat-accent .mat-ink-bar, .mat-tab-nav-bar.mat-accent .mat-ink-bar {
  background-color: #f1db10;
  height: 5px;
}
.mat-tab-labels {
  display: flex;
  background-color:#1928d4  ;
}



body { margin: 0; font-family:Poppins-Regular,sans-serif;
    overflow: hidden; }

  .background-red > .mat-simple-snackbar {
      background-color: #f1db10;
      color: #fff;
  
      justify-content: center;       
    }
    .mat-snack-bar-container{
        background: #f1db10;
    }

    .toolbar{  

      /* background-color: #B721FF;
      background-image: linear-gradient(135deg, #B721FF 0%, #21D4FD 100%); */

      background-color: #f1db10;
      background-image: linear-gradient(315deg, #f1db10 5%, #1928d4 81%);
      
      color: #fff;
      margin-top: 0px;
      }

  .botonperron{
    /* color: #ffd900be,rgb(255, 238, 0), #F6F94D, rgb(245, 240, 175); */
      color: #fff;
      border-radius: 5px;         
      /* text-align: center;         */
      background-color: #1928d4; 
      /* background-image: linear-gradient(90deg, #B721FF 0%, #21D4FD 100%);      */
        
      border-radius: 5px;
      text-align: center;

            
      /* quitar borde feo */
      outline:none;  
      display:block;
      /* background-color: #B721FF;
      background-image: linear-gradient(90deg, #B721FF 0%, #21D4FD 100%);  */
  }
  
  .botonperron:hover{
      background-color: #f1db10;
      /* background-image: linear-gradient(90deg,  #b721ff 0%,#21d4fd, 100%); */
      transition: all 1s ease;
  }

  
 
 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }

       

    /* Tamaño del scroll */
  .containerScroll::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

  /* Estilos barra (thumb) de scroll */
  .containerScroll::-webkit-scrollbar-thumb {
    background: #1928d4;
    border-radius: 4px;
  }

.containerScroll::-webkit-scrollbar-thumb:active {
  background-color: #1928d4;

  }

  .containerScroll::-webkit-scrollbar-thumb:hover {
    /* background: #B721FF; */
    background: #1928d4;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  .containerScroll::-webkit-scrollbar-track {
    background: #a7a0ff;
    border-radius: 4px;
  }

  .containerScroll::-webkit-scrollbar-track:hover, 
  .containerScroll::-webkit-scrollbar-track:active {

    background: #a7a0ff;
  }

  .loginayuda .mat-dialog-container{
    background-color:rgba(45, 130, 156, 0.0);
    padding-top: 0px;
    padding-bottom: 1px;
  }

  .mat-grid-tile .mat-figure {
  
    align-items:inherit !important;
    height: 120px !important;  
}
   