
/* Tamaño del scroll */
.container::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }
  
   /* Estilos barra (thumb) de scroll */
  .container::-webkit-scrollbar-thumb {
    background: rgb(104, 71, 250);
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-thumb:active {
    background-color: #1fb7f3;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background: #1100fd;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
   /* Estilos track de scroll */
  .container::-webkit-scrollbar-track {
    background: #a7a0ff;
    border-radius: 4px;
  }
  
  .container::-webkit-scrollbar-track:hover, 
  .container::-webkit-scrollbar-track:active {
    background: #787bff;
  }