.intro{
  background-color: #fff;
  color: #000;
}

.hijo2{  
  height: 84%;
  width:100%;     
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat:no-repeat;
  -o-background-size: cover;
  background-size: cover; 
  background-size: 100% 100%;        
  text-align: -webkit-center;
}

/* contenido principal */
.containerScroll{
  height: 100%;
  min-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  position: absolute;
  overflow-x: hidden;  
}

/* para el sidenav */
.example-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgb(253, 253, 253);
margin-bottom: -2px; 
}


.example-container2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background:rgb(253, 253, 253);
}

.router-link-active{
  color: #fff;
  background-color: #B721FF;
  outline:none;  
display:block;
} 

mat-action-list{
  width: 200px;
  height: 70%;
}

.example-fill-remaining-space {
  flex: 1 1 auto;    
}

.hoveritem{
  width: 226px;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  outline:none;  
  display:block;
}

  .hoveritem:hover{
    background-color: #21D4FD;
    color: #fff;
    transition: all 1s ease;
  }

  .container{
    height: 100%;
    min-width: 100px;  
    background-color: #fff;
    color: #fff;  
    }

.title {
  display: block;
  font-family: Poppins-Regular,sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  padding: 20px;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.example-full-width {
  width: 100%;
  justify-content: center;
}

/* AGREGAR UNA FOTO */
.cambiarfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.sinImg{
  height: 140px;
  width: 115px;  
  background:url('src/imagenes/image_user.png');
  background-size: cover;
  background-position: center;  
  position: static;
}

#cambiarfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarfoto:hover + #sinImg { 
  content: url('src/imagenes/agregarperfil.png');
 }



/* CAMBIAR LA FOTO */
.cambiarConfoto{
  height: 40px;
  width: 40px;
  border-radius: 30px;
 float: right;
 float: bottom;
  background-color: #1928d4;
  margin-left: 95px;
  margin-top: 115px;
  position: absolute;
}
.img{
  height: 140px;
  width: 115px;  
  background-size: cover;
  background-position: center; 
  position: static; 
}
#cambiarConfoto:hover{
  background-color: #f1db10;
  transition: all 1s ease;
}
#cambiarConfoto:hover + #ima { 
  content: url('src/imagenes/cambiarperfil.png');
 }





.mat-icon-button{
  /* quitar borde feo */
  outline:none;  
  display:block;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background:  rgb(104, 71, 250); 
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

/* para que se miren el tituo en negrita */
.titlepanel{
width: 500px;
}
/* para que no se mire los margenes feos */
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  display: flex;
  flex-grow: initial;
  margin-right: 16px;
}
