
  .mat-form-field {
    font-size: 14px;
    width: 30%;
  }

  .boton{
    height:30px;    
    line-height:10px;
    float: right;
    margin-top: 15px;   
      
    }

    .botonee{
      width: 50px;
      height: 25px;
      margin-top: 7px;
      padding: 0%;
      background: #B721FF;
      }

      .padre{
        display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      }  
      
      .hijo{  
        height: 95%;
        width:98%;     
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-repeat:no-repeat;
        -o-background-size: cover;
        background-size: cover; 
        background-size: 100% 100%;     
        text-align: -webkit-center;
        padding: 10px;
      }